/**
 * Formatting the media browser plus views.
 */

.view .mbp-folders,
.view .mbp-file-list {
  vertical-align: top;
}

.view .mbp-folders ol {
  padding: 0px;
  margin: 0px;
}

.view .mbp-folders ol ol {
  padding-left: 15px;
}

.view .mbp-folders li,
.view .mbp-folders li.open {
  cursor: pointer;
  list-style-type: none;
}

.view .mbp-folders li .icon {
  margin-top: 2px;
  width: 20px;
  padding-left: 20px;
  height: 20px;
  line-height: 20px;
  display: inline;
  background: url('../images/icons/folder.png') no-repeat;
}

.view .mbp-folders li.active > div.folder-name {
  background-color: #E0E0E0;
}

.view .mbp-folders li div.folder-name.drag-hover {
  background-color: #CCCCCC;
}

.view .mbp-folders li ol {
  display: none;
}

.view .mbp-folders li .ajax-progress-throbber {
  float: left;
}

.view .mbp-file-list {
  border-left: 1px solid #cccccc;
  padding-left: 10px;
}

/**
 * VBO based field handler
 */
div.view-media-browser-plus .media-list-thumbnails .form-type-checkbox {
  bottom: 0px;
  left: 0px;
}

/**
 * Media Basket
 */
.mbp-file-basket-list li {
  float: left;
  list-style: none;
  margin: 0 10px 10px 0;
}
.mbp-file-basket-list .form-type-checkbox{
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
}

.mbp-file-basket.drag-hover {
  background-color: #e0e0d8;
}
